<krossr-async-content [isReady]="isReady">
    <div class="listLevels" [formGroup]="formGroup" *ngIf="isReady">
        <h2>
            Levels
            <span class="filterIcon" (click)="toggleShowFilter()">
                <i class="fa fa-filter" [ngClass]="{'active': showFilter}"></i>
            </span>
            <span class="createIcon" uiSref="create-level">
                <i class="fa fa-plus"></i>
            </span>
        </h2>

        <krossr-level-select-filter [hidden]="!showFilter" (refilter)="refilter($event)"></krossr-level-select-filter>

        <a class="levelLink" *ngFor="let level of levels" uiSref="level" [uiParams]="{ levelId: level.id }" [uiOptions]="{ reload: true }">
            <krossr-level-select-tile [level]="level" (refilter)="extendFilter($event)"></krossr-level-select-tile>
        </a>

        <div class="alert alert-warning" *ngIf="!levels || !levels.length">
            No Levels yet!
        </div>

        <krossr-pagination *ngIf="levels && levels.length > 0" (paginate)="find($event)" [currentPage]="currentPage"
            [totalPages]="totalPages"></krossr-pagination>
    </div>
</krossr-async-content>